// Dark preview styling

#file-list {
  background-color: var(--grey-7);
  color:white;

  div.container {
    .selected { background-color: var(--c-primary-shade); }

    div.list-item {
      border-top-color: var(--grey-4);
      border-bottom-color: var(--grey-4);

      p.filename { color: white; }
      div.meta {
        .date, .id, .tags, .directories, .files, .virtual-directories, .tex-indicator {
          background-color:var(--grey-4);
          color: var(--grey-0);
        }

        .tex-indicator { background-color: var(--c-primary); }

        .target-progress-indicator {
          circle { fill: var(--grey-4); }
          path { fill: var(--c-primary); }
        }
      }

      &.file:hover {
        // important is needed to not mess with the heatmap styles and
        // to overwrite the light theme
        background-color:var(--grey-6) !important;
        p.filename { color: white !important; }
      }

      // File is displayed as part of a virtual directory -> actually
      // some kind of a "ghost" file
      &.alias { background-color:var(--purple-selection-dark); }

      &.directory, &.virtual-directory {
        background-color:var(--grey-8);
        color: var(--c-primary-shade);

        span.sortTime, span.sortName {
          background-color:var(--grey-8);

          &:hover { color: var(--grey-2); }
        }
      }

      &.virtual-directory { color:var(--purple-selection); }
    }
  }

  .empty-file-list, .empty-directory { color:var(--grey-4); }
}
