// Dark directory colours

#file-tree {
    background-color: var(--grey-7);
    color:white;

    #directories-dirs-header, #directories-files-header {
      border-bottom-color:var(--grey-4);
      color: var(--grey-4);
    }

    .collapse-indicator::before { color:var(--grey-1); }

    div.list-item {
      &:hover {
        color: white;
        background-color:var(--grey-6);
      }

      &.selected { background-color: var(--c-primary-shade); }

      &.file {
        &:hover { background-color:var(--grey-5); }

        span.dir { color: var(--grey-4); }
      }

      &.project {
        color: var(--c-project-dark);
        &.selected { color: white; }
      }

      &.dead-directory {
        color: var(--grey-4);
        &:hover {
          color: var(--grey-4);
          background-color: inherit;
        }
      }

      // File is displayed as part of a virtual directory -> actually
      // some kind of a "ghost" file
      &.alias {
        color:var(--c-alias-dark);
        &.selected { color: white; }
      }
    }

    .empty-tree {
        background-color:var(--grey-5);
        color:var(--grey-1);
    }
}

// Add a colour to the directories in extended mode
#sidebar.expanded #file-tree {
  border-right-color: var(--grey-5);
}
